.DatepickerScreen {
  display: flex;
  justify-content: center;
}

.DatepickerScreen__inner {
  display: grid;
  gap: 8px;
  align-content: flex-start;
  justify-items: flex-start;
}

.DatepickerScreen__labelText {
  margin-right: 8px;
  font-size: 18px;
  font-weight: bold;
}

.DatepickerScreen__btnCalc {
  background: #9b82c3 !important;
  width: 185px;
  padding: 7px !important;
}

.DatepickerScreen__datepicker {
  font: inherit;
}

.DatepickerScreen__datepicker .react-calendar__navigation {
  background: var(--bg-secondary);
}

.DatepickerScreen__datepicker .react-date-picker__wrapper {
  border-width: 4px;
  border-color: var(--bg-primary);
  padding: 8px;
  background: white;
}

.DatepickerScreen__datepicker input {
  outline: none;
  font: inherit;
}

.DatepickerScreen__datepicker input:invalid {
  background: white;
}

.DatepickerScreen__datepicker .DatepickerScreen__calendar {
  border-width: 4px;
  border-color: var(--bg-primary);
  font: inherit;
}

.DatepickerScreen__datepicker .react-calendar__tile {
  font: inherit;
}

.DatepickerScreen__datepicker .react-calendar__navigation__label {
  font: inherit;
}

.DatepickerScreen__datepicker .react-calendar__tile--now {
  background: var(--bg-secondary)
}

.DatepickerScreen__datepicker .react-calendar__tile--active {
  background: var(--bg-primary)
}